@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper { 
  width: 100%;
  background-image: url("/assets/Images/template image/infinite-loop-01.jpg");
  max-height: 736px;
  min-height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }
h1 { text-transform: capitalize; }

h1 a {
  color: #fff;
  font-weight: bold;
}

nav ul {display: none;}
/* nav ul li a { 
  text-transform: capitalize; 
  color: #6f7072;
} */

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 3px;
  background-color: #fff;
  opacity: 0.6;
  text-indent: -9999px;
}

.header-top {
  width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*Banner section start*/
header { position: relative; }

.header-card {
  width: 86%;
  position: absolute;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 110px;
    color: #fcfeff;
    text-align: center;
    line-height: 30px;
}

.header-card h2 { 
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
 }

 .header-card p { text-transform: capitalize; }
 .header-card p span { text-transform: uppercase; }

 .arrow-down { 
  position: absolute;
  top: 240px;
  left: 48%;
}

header .wrapper { padding: 0; } 

/*End of Banner section*/

/*What section start*/

.what-section .wrapper { 
  padding: 30px 0; 
}

.what-head h2 
{
  text-align: center;
    font-size: 20px;
    color: #35799D;
    margin-bottom: 10px
}

.what-head p 
{
  font-size: 13px;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 20px;
}

.what-section ul li { margin-bottom: 25px; }

.what-section ul li span { 
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.what-section ul li h3 
{
  text-align: center;
    text-transform: capitalize;
    color: #266FBB;
    font-size: 17px;
    margin-bottom: 10px
}

.what-section ul li p 
{
  font-size: 13px;
    text-align: justify;
    line-height: 20px;
}

/*what section end*/




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.form-section textarea { width: 86%; }






 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 480px) {

  .header-card h2 { font-size: 30px; }
}  

@media only screen and (min-width: 540px) {
}  

@media only screen and (min-width: 768px) {
  .hamburger { display: none; }
  nav ul { display: block; } 

  nav ul li a { 
    color: #939596;
    font-size: 17px;
   }

   nav ul li a::first-letter { text-transform: capitalize; }

  .header-top { width: 95%; } 
  .header-top nav ul li {padding: 0 10px;}
  h1 a { font-size: 20px; }

  .header-card { top: 200px; }
  .arrow-down { top: 400px; }
  .header-card h2 {
     font-size: 35px; 
     margin-bottom: 15px;
    }

    header .wrapper { padding-bottom: 250px; }
}  

@media only screen and (min-width: 995px) {
  .header-top { width: 90%; }
  h1 a { font-size: 25px; }
  nav ul li a { font-size: 20px; }
} 

@media only screen and (min-width: 1024px) {
  header .wrapper { min-height: 736px; }
  .header-card { 
    top: 250px; 
    gap: 10px;
  }

  .header-top { 
    width: 85%; 
    align-items: center;
  }

  h1 a { font-size: 25px; }
  nav ul li a { font-size: 20px; }
  .header-card h2 { font-size:  40px; }
  .header-card p { font-size: 20px; }
} 

@media only screen and (min-width: 1354px) {
  .header-card { top: 260px; }
.header-top { width: 91%; }
.header-top nav { padding:  0 30px; }
.header-top nav ul li { padding: 0px 26px; }
h1 a { font-size: 20px; }
.header-card h2 { font-size: 55px; }
.arrow-down { 
  position: absolute;
  top: 570px;
  left: 48%;
}
}
