@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}
span {
  display: inline-block;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{
  background: url("/assets/Images/template image/infinite-loop-01.jpg")
    no-repeat center center;
  background-size: cover;
  padding-top: 245px;
  padding-bottom: 245px;
}

header .wrapper { width: 93%; }

.header-top {
  width: 93%;
    position: absolute;
    top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
  border: 1.5px solid #D7D6D6;
    padding: 2px 7px;
    border-radius: 2px;
}

.bar {
  width: 12px;
  height: 2px;
  margin: 3px;
  display: block;
  background-color: #F9F9F9;
  text-indent: -9999px;
}

h1 {
  text-transform: capitalize;
  font-size: 15px;
}

h1 a {
  color: #fff;
  font-weight: bold;
}

nav ul {
  display: none;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*Banner section start*/

.banner-section 
{
  top: 172px;
    position: absolute;
    width: 100%;
    background: green;
}

.header-card {
  display: flex;
    color: #fcfeff;
    flex-direction: column;
    text-align: center;
}

.header-card h2 {
  margin-bottom: 9px;
  font-size: 37px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.header-card p { 
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 9px
 }

.header-card p span {
  text-transform: uppercase;
}

.arrow-down {
  position: absolute;
  top: 240px;
  left: 48%;
}

/*End of Banner section*/

/*What section start*/

.what-section .wrapper {
  padding: 30px 0;
}

.what-head h2 {
  text-align: center;
  font-size: 20px;
  color: #35799d;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.what-head p {
  font-size: 13px;
  text-align: justify;
  margin-bottom: 30px;
  line-height: 25px;
}

.what-section ul li {
  margin-bottom: 30px;
}

.what-section ul li span {
  text-align: center;
  margin-bottom: 10px;
}

.what-section ul li h3 {
  text-align: center;
  text-transform: capitalize;
  color: #266fbb;
  font-size: 17px;
  margin-bottom: 10px;
}

.what-section ul li p {
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}

[title="Learn More"],
[title="Details"] {
  background-color: #336799;
  color: #fff;
  padding: 3px 13px;
  font-size: 13px;
  margin-top: 10px;
  text-transform: capitalize;
}

.icons {
  width: 50px;
  height: 20px;
  position: relative;
  text-indent: -9999px;
}

.icons::before {
  position: absolute;
  top: 10px;
  left: 160%;
  transform: translate(-50%, -50%);
  font-family: "FontAwesome";
  text-indent: 0;
  color: #4985aa;
}

.footer-icon::before {
  font-family: "FontAwesome";
  color: #e8f7f9;
  margin-right: 15px;
}

.arrow-icon::before {
  content: "\f063";
  padding: 5px;
  color: #fff;
  background-color: #345679;
  left: 10%;
}
.chart-icon::before {
  content: "\f080";
}
.message-icon::before {
  content: "\f27a";
}
.fingerprint-icon::before {
  content: "\f063";
}
.social-icon::before {
  content: "\f0c0";
}

.what-section ul li {
  display: flex;
}

.learn-btn,
.details-btn {
  display: flex;
  justify-content: center;
}

.social p:nth-of-type(1) {
  line-height: 14px;
  margin-bottom: 5px;
}

.top {
  margin-bottom: 40px;
}
.social h3 {
  margin-bottom: 20px;
}
/*what section end*/

/*Testimonial section start*/

.testimonial {
  background-image: url("/assets/Images/template image/infinite-loop-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 0;
}

.testimonial h2,
.gallery h2,
.contact h2 {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial h2,
.contact h2 {
  color: #fefdff;
}

.gallery h2 { color: #2e77ae; }

.testimonial p,
.gallery p,
.contact p {
  font-size: 13px;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 25px;
}

.testimonial p,
.contact p { color: #e8effc; }

.testimonial ul li { margin-top: 30px; }

.testimonial ul li img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 25px;
}

.testimonial ul li p:nth-of-type(1) { margin-bottom: 5px; }

.testimonial ul li p:nth-of-type(2) {
  text-align: center;
  font-style: italic;
}

.testimonial ul { padding-bottom: 10px; }

.dot {
  width: 10px;
  height: 10px;
  background-color: #fffbfd;
  border-radius: 50%;
  text-indent: -9999px;
}

.dot-sec {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
/*Testimonial section end*/

/*Gallery section start*/

.gallery { padding-top: 20px; }

.gallery ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.gallery ul li { margin: 10px 0; }

.gallery .dot { background-color: #c0c0c0; }

/*Gallery section end*/

/*Contact section start*/

.contact {
  background-image: url("/assets/Images/template image/infinite-loop-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 0;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #dae4e7;
  display: inline-block;
  padding: 5px;
  text-transform: capitalize;
  background: transparent;
  color: #f1f1f4;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 5px;
  text-transform: capitalize;
  background: transparent;
  color: #f1f1f4;
  border-radius: 5px;
  margin-bottom: 35px;
  background-color: #336799;
  border: none;
}
.form-section textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #dae4e7;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.icon-section ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.icon-section ul li {
  margin-bottom: 5px;
  font-size: 13px;
}

.chat::before {
  content: "\f075";
}
.email::before {
  content: "\f0e0";
}
.location::before {
  content: "\f041 ";
}
.phone::before {
  content: "\f098 ";
}

.icon-section ul li a {
  color: #dae4e7;
}
/*contact section end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

.footer-bottom p {
  text-transform: capitalize;
  font-size: 10px;
  text-align: center;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 480px) {
  .header-card h2 { font-size: 30px; }
}

@media only screen and (min-width: 540px) {
  header .wrapper { padding-bottom: 300px; }

  .arrow-icon::before {
    padding: 10px;
    top: 30px;
  }

  .what-section ul li {
    display: block;
    flex-basis: 45%;
  }

  .what-section ul li span { width: 100%; }

  .icons::before { left: 50%; }

  .what-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .testimonial ul {
    display: flex;
    justify-content: space-between;
  }

  .testimonial ul li { flex-basis: 30%; }

  .testimonial ul li img {
    flex-basis: 30%;
    width: 70%;
    height: auto;
  }

  .testimonial ul li p { font-size: 11px; }

  .gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery ul li { flex-basis: 48%; }

  button[type="submit"] {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .contact { padding: 30px 0; }
  .footer-bottom p { font-size: 12px; }
}

@media only screen and (min-width: 768px) {
  .hamburger { display: none; }
  nav ul { display: block; }

  nav ul li a {
    color: #939596;
    font-size: 17px;
  }

  nav ul li a::first-letter { text-transform: capitalize; }
.header-top { width: 95%;}
  .header-top nav ul li { padding: 0 10px;}
  h1 a { font-size: 20px;}

  .header-card {
    top: 200px;
    line-height: 37px;
  }

  .arrow-down { top: 400px;}

  .header-card h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  header .wrapper { padding-bottom: 480px; }
  h1 a { font-size: 25px; }
  .header-top { align-items: center; }

  .header-card h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .header-card p { font-size: 19px; }

  .what-section ul li {
    display: flex;
    flex-basis: 47%;
  }

  .what-section ul li h3 { text-align: initial; }
  .what-section ul li span { width: 50%; }

  .icons::before {
    left: 30%;
    font-size: 25px;
  }

  .testimonial ul li p { font-size: 13px; }
  .testimonial ul li p:nth-of-type(2) { text-align: end; }
  .gallery ul li { flex-basis: 32%; }
  .gallery ul li:last-child { margin-right: 34%; }
  .gallery ul { padding-bottom: 20px; }

  .dot-sec {
    width: 25%;
    padding-bottom: 40px;
  }

  .footer-card {
    display: flex;
    justify-content: space-between;
  }

  .form-section { width: 50%; }
  .icon-section { width: 40%; }

 .testimonial p:nth-of-type(1),
  .gallery p,
  .contact p {
    font-size: 15px;
  }

  .testimonial h2,
  .gallery h2,
  .contact h2 {
    font-size: 25px;
  }

  .contact p { margin-bottom: 40px; }
input[type="text"] { padding: 10px; }

  button[type="submit"] {
    width: 30%;
    padding: 10px;
  }

  .icon-section ul li a { font-size: 15px; }
  .footer-icon::before { font-size: 18px; }
  .icon-section ul li { margin-bottom: 10px;}
}

@media only screen and (min-width: 995px) {
  .header-top { width: 90%; }
  h1 a { font-size: 25px; }
  nav ul li a { font-size: 20px; }
  .gallery ul li:last-child { margin-right: 34%; }
}

@media only screen and (min-width: 1024px) {
  header .wrapper { min-height: 736px; }

  .header-card {
    top: 250px;
    gap: 10px;
  }

  .header-top {
    width: 85%;
    align-items: center;
  }

  h1 a { font-size: 25px; }
  nav ul li a { font-size: 20px; }
  .header-card h2 { font-size: 40px; }
  .header-card p { font-size: 20px; }
  .arrow-down { top: 500px; }
  .arrow-icon::before { padding: 15px 25px; }

  .what-head h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .what-head p { font-size: 15px; }
  .icons::before { font-size: 30px; }
  .what-section ul li h3 { font-size: 20px; }

  .what-section ul li p {
    font-size: 15px;
    line-height: 30px;
  }

  [title="Learn More"],
  [title="Details"] {
    padding: 8px 13px;
    font-size: 15px;
  }

  .learn-btn,
  .details-btn 
  {
    justify-content: flex-start;
  }

  .top p { margin-bottom: 15px; }
  .testimonial .wrapper,
  .contact .wrapper { width: 75%; }
}

@media only screen and (min-width: 1354px) {
  .header-card { top: 260px; }
  .header-top { width: 91%; }
  .header-top nav { padding: 0 30px; }
  .header-top nav ul li { padding: 0px 26px; }
  h1 a { font-size: 20px; }
  .header-card h2 { font-size: 55px; }
  
  .arrow-down {
    position: absolute;
    top: 570px;
    left: 48%;
  }
}
