@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}
/* span {
  display: inline-block;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  padding: 77% 0 77% 0;
  margin-bottom: 87px;
  background: url("/assets/Images/template image/infinite-loop-01.jpg") no-repeat center center / cover;
}

header .wrapper { width: 93%; }

.header-top {
  width: 93%;
  display: flex;
  position: absolute;
  top: 7px;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  padding: 2px 7px;
  border: 1.5px solid #d7d6d6;
  border-radius: 2px;
}

.bar {
  width: 12px;
  height: 2px;
  margin: 3px;
  display: block;
  background-color: #f9f9f9;
  text-indent: -9999px;
}

nav ul li a:hover { color: #345679; }

h1 {
  font-size: 15px;
  text-transform: capitalize;
}

h1 a {
  color: #fff;
  font-weight: bold;
}

nav ul { display: none; }

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*Banner section start*/

.banner-section {
  width: 100%;
  position: absolute;
  top: 172px;
}

.header-card {
  display: flex;
  color: #fcfeff;
  flex-direction: column;
  text-align: center;
}

.header-card h2 {
  margin-bottom: 9px;
  font-size: 37px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.header-card p {
  margin-bottom: 9px;
  font-size: 14px;
  text-transform: capitalize;
}

.header-card p span { text-transform: uppercase; }

.arrow-down {
  width: 100%;
  position: relative;
  top: 123px;
  text-align: center;
}

.arrow-down::before {
  padding: 12px 10%;
  background: #345679;
  content: "\f063";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 24px;
}

.arrow-icon { display: none; }

/*End of Banner section*/

/*What section start*/

.what-section .wrapper {
  width: 98.5%;
  padding: 0 3% 0 5%;
}

.what-head h2 {
  margin-bottom: 16px;
  color: #35799d;
  font-size: 28px;
  text-transform: capitalize;
}

.what-section p { color: #9e9fa9; }

.what-head p {
  margin-bottom: 67px;
  font-size: 12.75px;
  font-weight: 500;
  line-height: 25px;
}

.what-section ul li { margin-bottom: 30px; }

.what-section ul li span {
  margin-bottom: 10px;
  text-align: center;
}

.what-section ul li h3 {
  margin-bottom: 16px;
  color: #35799d;
  font-size: 21px;
  font-weight: 500;
  text-transform: capitalize;
}

.what-section ul li p {
  font-size: 13px;
  line-height: 25px;
}

.social p:nth-of-type(2) {
  margin-bottom: 10px;
  font-size: 12px;
}

.details-btn { margin-bottom: 37px; }

.what-section ul li::before {
  margin-bottom: 30px;
  display: block;
  color: #35799d;
  font-family: "FontAwesome";
  font-size: 40px;
  text-align: center;
}

.what-section ul li::before { font-family: "FontAwesome"; }
.what-section ul li:nth-of-type(1):before { content: "\f080"; }
.what-section ul li:nth-of-type(2):before { content: "\f27a"; }
.what-section ul li:nth-of-type(3):before { content: "\f063"; }
.what-section ul li:nth-of-type(4):before { content: "\f0c0"; }

.learn-btn a,
.details-btn a {
  padding: 9px 20px;
  margin-top: 10px;
  background-color: #336799;
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
}

.what-section .icons { display: none; }

/*what section end*/

/*Testimonial section start*/

.testimonial {
  padding: 68px 0;
  background: url("/assets/Images/template image/infinite-loop-02.jpg") no-repeat center center / cover;
}

.capital { text-transform: uppercase; }
.testimonial .wrapper { width: 93%; }

.testimonial h2,
.gallery h2,
.contact h2 {
  margin-bottom: 20px;
  color: #fffdff;
  font-size: 26px;
  text-align: center;
  text-transform: capitalize;
}

.top p { margin-bottom: 10px; }

.italic-style {
  font-style: italic;
  font-weight: bold;
}

.testimonial-second { width: 85%; }
.gallery h2 { color: #2e77ae;}

.testimonial p,
.gallery p,
.contact p {
  margin-bottom: 25px;
  color: #c6cac1;
  font-size: 10px;
  line-height: 20px;
}

.blue { color: #74b0df; }
.dark { font-weight: bold; }
.testimonial ul li { margin-top: 30px; }

.testimonial ul li img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  margin: 0 auto 25px;
  display: block;
}

.testimonial-first {
  width: 66%;
  margin: 0 auto;
  font-size: 12px;
  text-align: initial;
}

.testimonial ul li p:nth-of-type(1) { margin-bottom: 10px; }

.testimonial ul li p:nth-of-type(2) {
  font-size: 13px;
  font-style: italic;
  text-align: end;
  text-transform: capitalize;
}

.testimonial .dot-sec { margin-bottom: 29px; }
.testimonial ul { padding-bottom: 48px; }
.dot-sec .active { background-color: #fffbfd; }

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a0abb0;
  text-indent: -9999px;
}

.dot-sec {
  width: 40%;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
/*Testimonial section end*/

/*Gallery section start*/

.gallery { padding-top: 78px; }
.gallery .wrapper { width: 91%; }

.gallery p {
  font-size: 9px;
  color: #a4a4ab;
}

.gallery ul {
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.gallery ul li { margin: 10px 0; }
.gallery .dot { background-color: #c0c0c0; }
.gallery .active { background-color: #3aa0e4; }
.gallery .dot-sec { padding-bottom: 84px; }

/*Gallery section end*/

/*Contact section start*/

footer {
  padding: 20px 0;
  background: url("/assets/Images/template image/infinite-loop-03.jpg") no-repeat center center / cover;
}

.contact h2 {
  color: #f6fffb;
  font-size: 26px;
  font-weight: unset;
  letter-spacing: 1.3px;
}

.contact .wrapper {
  width: 94%;
  padding-top: 50px;
}

.footer-top .head-para {
  margin-bottom: 51px;
  font-size: 13px;
  line-height: 25px;
}

.first-input,
.second-input {
  width: 90%;
  padding: 7px 5%;
  border: 1px solid #dae4e7;
  border-radius: 5px;
  display: inline-block;
  background: transparent;
  color: #f1f1f4;
  font-size: 13px;
  text-transform: capitalize;
}

.submit {
  width: 50%;
  padding: 7px;
  border: none;
  border-radius: 3px;
  margin-bottom: 35px;
  background: transparent;
  background-color: #336799;
  color: #f1f1f4;
  text-transform: capitalize;
}
.form-section textarea {
  width: 90%;
  height: 166px;
  border: 1px solid #dae4e7;
  border-radius: 5px;
  margin-bottom: 11px;
  background: transparent;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.icon-section ul {
  margin-bottom: 41px;
  display: flex;
  flex-direction: column;
}

.icon-section ul li {
  margin-bottom: 5px;
  font-family: "FontAwesome";
  font-size: 13px;
}

.icon-section ul li a::before {
  padding-right: 20px;
  font-size: 20px;
}

.chat::before { content: "\f075";}
.email::before { content: "\f0e0"; }
.location::before { content: "\f041 "; }
.phone::before { content: "\f098 "; }

.icon-section ul li a {
  margin: 0 0 28px 5%;
  color: #dae4e7;
  font-size: 16px;
}
/*contact section end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

.footer-bottom p {
  margin-bottom: 5px;
  font-size: 11px;
  text-align: center;
  text-transform: capitalize;
}

.textarea-field {
  padding: 10px 5%;
  color: #fff;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
  .header-card h2 { font-size: 30px; }
  .testimonial ul li img { width: 25%; }
  .dot-sec { width: 25%; }
}

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
  header .wrapper { padding-bottom: 300px; }
  .what-section ul { justify-content: space-around; }

  .what-section ul li {
    display: block;
    flex-basis: 45%;
  }

  .what-section ul li span { width: 100%; }

  header {
    padding: 100px 0;
  }

  .arrow-down::before { padding: 12px 6%; }
  .what-section ul li h3 { text-align: center; }
  .testimonial-first { width: 100%; }
  .testimonial-second { font-size: 11px; }

  .testimonial p,
  .gallery p,
  .contact p { font-size: 13px; }

  .what-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .testimonial ul {
    display: flex;
    justify-content: space-between;
  }

  .testimonial ul li { flex-basis: 30%; }

  .testimonial ul li img {
    width: 70%;
    height: auto;
    flex-basis: 30%;
  }

  .testimonial ul li p { font-size: 11px; }

  .gallery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery ul li { flex-basis: 48%; }

  .submit {
    width: 20%;
    margin: 0 auto 40px;
  }

  .contact { padding: 30px 0; }
  .footer-bottom p { font-size: 12px; }
}

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
  .hamburger { display: none; }
  nav ul { display: block; }

  nav ul li a {
    color: #939596;
    font-size: 17px;
  }

  nav ul li a::first-letter { text-transform: capitalize; }

  header { padding: 50px 0; }

  .header-top { width: 95%; }
  .header-top nav ul li { padding: 0 10px; }
  h1 a { font-size: 20px; }

  .header-card {
    top: 200px;
    line-height: 37px;
  }

  .header-card h2 {
    margin-bottom: 15px;
    font-size: 35px;
  }

  header .wrapper { padding-bottom: 480px; }
  h1 a { font-size: 25px; }
  .header-top { align-items: center; }

  .header-card h2 {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .header-card p { font-size: 19px; }

  .what-section ul li {
    display: flex;
    flex-basis: 47%;
  }

  .what-section ul li::before { 
    margin-right: 15px;
    font-size: 30px;
   }

  .what-section ul li h3 { text-align: initial; }
  .what-section ul li span { width: 50%;}
  .testimonial ul li p { font-size: 13px; }
  .testimonial ul li p:nth-of-type(2) { text-align: end; }
  .gallery ul li { flex-basis: 32%; }
  .gallery ul li:last-child { margin-right: 34%; }
  .gallery ul { padding-bottom: 20px; }

  .dot-sec {
    width: 25%;
    padding-bottom: 40px;
  }

  .footer-card {
    display: flex;
    justify-content: space-between;
  }

  .form-section { width: 50%; }
  .icon-section { width: 40%;}

  .testimonial p:nth-of-type(1),
  .gallery p,
  .contact p {font-size: 15px; }

  .testimonial h2,
  .gallery h2,
  .contact h2 { font-size: 25px; }

  .contact p { margin-bottom: 40px; }
  .form-first,
  .form-second { padding: 10px; }

  .submit {
    width: 30%;
    padding: 10px;
  }
}

@media only screen and (min-width: 995px) {
  .header-top { width: 90%; }
  h1 a { font-size: 25px;}
  nav ul li a { font-size: 20px; }
  .gallery ul li:last-child { margin-right: 34%; }
}

@media only screen and (min-width: 1024px) {
  h1 a { font-size: 16px; }
  .header-card { top: 250px;}

  .header-top {
    width: 89%;
    margin: 10px 0 0 8px;
    align-items: center;
  }

  .arrow-down::before { padding: 13px 3%; }
  .header-top nav ul li { padding: 0px 20px; }
  nav ul li a { font-size: 16px;}

  .header-card h2 {
    margin-bottom: 10px;
    font-size: 40px;
  }
  .header-card p {
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 25px;
  }

  .banner-section { top: 197px; }
  .arrow-down { top: 159px; }

  .what-head h2 {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .what-section ul li h3 { font-size: 20px;}

  .what-section ul li p {
    font-size: 15px;
    line-height: 30px;
  }

  .what-section .wrapper { 
    width: 91%;
    padding-left: 0;
    padding-right: 0;
   }

  .learn-btn, 
  .details-btn {
    padding: 8px 13px;
    font-size: 15px;
  }

  .learn-btn,
  .details-btn { justify-content: flex-start; }

  .testimonial .wrapper,
  .contact .wrapper { width: 75%; }

  .icon-section ul li a:hover { 
    background-color: #266fbb;
    cursor: pointer;
  }
}
